<div class="scaler">
  <h3>Dependents</h3>
  <div ng-cloak="profilePromise">
    <div class="table-responsive">
      <table class="table" ng-show="students">
        <tr>
          <th>Name</th>
          <th>Birthday</th>
        </tr>
        <tr ng-repeat="student in students">
          <td>{{student.firstname}} {{student.middlename ? student.middlename + ' ' : ''}}{{student.lastname}}</td>
          <td>{{student.birthdate|date:"mediumDate"}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>